.main {
    margin: 0;

    background-color: #FFFF;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 48px;
    padding-right: 48px;
}

// @media (max-width:1024px) {
//     .main {
//         width: 1024px;
//         overflow: visible;
//     }
// }

// @media (max-width: 768px) {
//     .main {
//         width: 768px;
//     }
// }

@media (max-width: 320px) {
    .main {
        padding-left: 15px;
        padding-right: 15px;
    }
}

